<!doctype html>
<html lang="pt-BR">
  <!-- Usar Componentes -->  
  <!-- % include 'components/head-part.html' % -->     
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Contato</title>
  </head>
  <body>
    <h1>Contato</h1>
    <form>
      <label for="">Nome</label>
      <input type="text" placeholder="Nome" />

      <label for="">Telefone</label>
      <input type="text" placeholder="Telefone" />

      <label for="">Descrição</label>
      <textarea rows="5" cols="16"></textarea>

      <button>Enviar</button>
      <button>Voltar</button>
    </form>
  </body>
</html>
