# Ambiente virtual do Poetry
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache do Poetry
.poetry/

# VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.local